# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env


# Logs
logs/
*.log
log.txt

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Railway build cache (nếu có)
railway/

# Build folders (nếu bạn build ra dist/)
dist/
build/

# data
data/grammar_question
data/TOEIC
